<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>ec2-52-32-82-172.us-west-2.compute.amazonaws.com:80/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ec2-52-32-82-172.us-west-2.compute.amazonaws.com:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>OneMall</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MallContext" Order="2" Enabled="False">
          <Destination Path="Data Source=onemall.chujykwc6ihz.us-west-2.rds.amazonaws.com,1433;Initial Catalog=OneMallDB;User ID=admin;Password=project123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WorldWebMall.Models.MallContext, WorldWebMall" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WorldWebMallContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|WorldWebMallContext-20150814153511.mdf;Initial Catalog=WorldWebMallContext-20150814153511;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WorldWebMallContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0; Initial Catalog=WorldWebMallContext-20150814153511; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|WorldWebMallContext-20150814153511.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="model_test" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WorldWebMall.model_test, WorldWebMall" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="model_prime" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|\MallContext-20150816113940.mdf;Initial Catalog=MallContext-20150816113940;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\model_prime_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(localdb)\v11.0;attachdbfilename=|DataDirectory|\MallContext-20150816113940.mdf;initial catalog=MallContext-20150816113940;integrated security=True;multipleactiveresultsets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="6" Enabled="False">
          <Destination Path="Data Source=onemall.chujykwc6ihz.us-west-2.rds.amazonaws.com,1433;Initial Catalog=Authentication;User ID=admin;Password=project123;User Instance=False;MultiSubnetFailover=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WorldWebMall.Models.ApplicationDbContext, WorldWebMall" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=onemall.chujykwc6ihz.us-west-2.rds.amazonaws.com,1433;Initial Catalog=Authentication;User ID=admin;Password=project123;User Instance=False;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MallContext-Web.config Connection String">
      <ParameterValue>Data Source=onemall.chujykwc6ihz.us-west-2.rds.amazonaws.com,1433;Initial Catalog=OneMallDB;User ID=admin;Password=project123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)model_prime-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)model_test-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WorldWebMallContext-Web.config Connection String" />
  </ItemGroup>
</Project>